/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url('/assets/bgm.jpg') no-repeat center center fixed; /* This is the line for the background image */
    background-size: cover; }

